<div id="senty-client-settings-container">
  <p>
  <label><%= l(:config_dsn) %></label>
  <input type="text" id="dsn" value="<%= settings['dsn'] %>" name="settings[dsn]" style="width:100%;">
  </p>
  <p>
  <label> <%=l(:config_environment) %></label>
  <input type="text" id="environment" value="<%= settings['environment'] %>" name="settings[environment]" style="width:100%;">
  </p>
  <p>
  <label> <%=l(:config_traces_sample_rate) %></label>
  <input type="number" id="traces_sample_rate" value="<%= settings['traces_sample_rate'] %>" name="settings[traces_sample_rate]" style="width:100%;" max="1.0" min="0.0" step="0.01">
  </p>
  <p>
  <label>Test</label>
  <button type="button" style="width: 95%" onclick="window.location.href = '/sentry'"> <%=l(:config_test_exception) %></button>
  </p>
</div>
<p style="align:center;"><b> <%=l(:config_disclamer) %></b></p>