<div id="senty-client-settings-container">
  <p>
  <label><%= l(:config_dsn) %></label>
  <input type="text" id="dsn" value="<%= settings['dsn'] %>" name="settings[dsn]" style="width:100%;">
  </p>
  <p>
  <label> <%=l(:config_environment) %></label>
  <input type="text" id="environment" value="<%= settings['environment'] %>" name="settings[environment]" style="width:100%;">
  </p>
  <p>
  <label>Test</label>
  <button type="button" style="width: 95%" onclick="window.location.href = '/sentry'"> <%=l(:config_test_exception) %></button>
  </p>
</div>
<p style="align:center;"><b> <%=l(:config_disclamer) %></b></p>