<style>
p input { width: 100%; }
</style>
<div id="senty-client-settings-container">
  <p>
  <label><%= l(:config_dsn) %></label>
  <%= text_field_tag 'settings[dsn]', RedmineSentryClient.dsn %>
  </p>
  <p>
  <label> <%=l(:config_environment) %></label>
  <%= text_field_tag 'settings[environment]', RedmineSentryClient.environment %>
  </p>
  <p>
  <label> <%=l(:config_traces_sample_rate) %></label>
  <%= number_field_tag 'settings[traces_sample_rate]', RedmineSentryClient.traces_sample_rate, :min => 0, :max => 1, :step => 0.01 %>
  </p>
  <p>
  <label>Test</label>
  <button type="button" style="width: 95%" onclick="window.location.href = '/sentry'"> <%=l(:config_test_exception) %></button>
  </p>
</div>
<p style="align:center;"><b> <%=l(:config_disclamer) %></b></p>